.header__second-ellipse {
    border: 20px solid #428A60;
    border-radius: 50%;
    width: 688px;
    height: 688px;
    position: absolute;
    top: -94px;
    left: 235px;
    box-sizing: border-box;
    z-index: 2;
}

@media screen and (max-width: 1279px) {
    .header__second-ellipse {
        display: none;
    }
}