.header__ellipse {
    width: 398px;
    height: 398px;
    background-color: #428A60;
    border-radius: 50%;
    position: absolute;
    bottom: 31px;
    left: 20px;
}

@media screen and (max-width: 767px) {
    .header__ellipse {
        width: 202px;
        height: 202px;
        top: 0;
        left: 0;
    }
}