.header__title {
    margin: 0;
    font-size: 18px;
    line-height: 130%;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .header__title {
        color: black;
        height: 23px;
        margin: 0 20px;
    }
}